{
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "always",
	"printWidth": 108,
	"tabWidth": 1,
	"useTabs": true
}
